{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
{% include "Header.php" %}
    <h1>Liste des articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Categorie</th>
                <th>Auteur</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.Titre }}</td>
                <td>{{ article.Contenu }}</td>
                <td>{{ article.Date ? article.Date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.Categorie }}</td>
                <td>{{ article.Auteur }}</td>
                <td><img style="max-width:20vw; max-heigth:20vh;" src="{{article.Image}}"></td>
                <td>
                    <a href="{{ path('app_articles_show', {'id': article.id}) }}">Voir</a>
                    <a href="{{ path('app_articles_edit', {'id': article.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Liste vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_articles_new') }}">Nouvel article</a>
{% endblock %}
